.linked_main{
    padding-top: 80px;
}
.ouree{
    color: #3734A9;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.allle{
    font-family: "Manrope", sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding-right: 100px;
    padding-top: 20px;
}
.whyysss{
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.422);
    padding-right: 130px;
}
.waew .getysss{
    padding: 15px 40px;
    background-color: #3734A9;
    color: white;
    border-radius: 7px;
    display: inline-block;
    margin-top: 20px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.left{
    background-color: #FFFFFF;
    height: 370px;
    width: 370px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    cursor: pointer;
}
.left:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3) ;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.veri{
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    font-weight: 600; 
    padding-left: 30px;
    padding-top: 30px;
}
.pic_main{
    display: flex;
    padding-top: 20px;
}
.pic1{
    padding-left: 30px;
}
.pic_name{
    padding-left: 20px;
    margin-top: 0px;
}
.ben{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 600;

}
.webss{
    font-family: "Manrope", sans-serif;
}
.pic_main1{
    display: flex;
    padding-top: 10px;
}
.pic_main2{
    display: flex;
    padding-top: 10px;
}
.see{
    padding-left: 30px; 
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.moer{
    color: rgba(255, 0, 0, 0.693);
}
.right_arrow{
    font-size: 30px;
    margin-left: 10px;
}
.right{
    background-color: #FFFFFF;
    height: 300px;
    width: 330px;
    border-radius: 10px; 
    margin-top: -200px;
    margin-left: 270px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    cursor: pointer;
}
.right:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3) ;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.morne{
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.mentor{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.426);
}
.contact{
    margin-top: 15px;
}
.contact .contact1{
    padding: 15px 40px;
    background-color: #0091D0;
    border-radius: 6px;
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}


@media (min-width:320px) and (max-width:480px){
    .linked_main{
        padding-top: 40px;
    }
    .ouree {
        font-size: 16px;
        font-weight: 700;
    }
    .allle {
        font-size: 26px;
        font-weight: 700;
        padding-right: 0px;
        padding-top: 0px;
    }
    .whyysss {
        font-size: 16px;
        padding-top: 7px;
        padding-right: 0px;
    }
    .waew .getysss {
        padding: 8px 24px;
        margin-top: 8px;
        margin-bottom: 30px;
        font-size: 13px;
        font-weight: 700;
    }
    .left {
        height: 370px;
        width: 280px;
        margin-left: 25px;
        margin-top: 20px;
    }
    .veri {
        font-size: 21px;
    }
    .pic_name {
        padding-left: 5px;
    }
    .right {
        height: 320px;
        width: 280px;
        margin-left: 25px;
        margin-top: 40px;
    }
    .contact .contact1 {
        padding: 7px 27px;
        font-size: 15px;
    }
}

@media (min-width:576px) and (max-width:767px){
    .linked_main{
        padding-top: 40px;
    }
    .ouree {
        font-size: 16px;
        font-weight: 700;
    }
    .allle {
        font-size: 26px;
        font-weight: 700;
        padding-right: 0px;
        padding-top: 0px;
    }
    .whyysss {
        font-size: 16px;
        padding-top: 7px;
        padding-right: 0px;
    }
    .waew .getysss {
        padding: 8px 24px;
        margin-top: 8px;
        margin-bottom: 30px;
        font-size: 13px;
        font-weight: 700;
    }
    .left {
        height: 370px;
        width: 280px;
        margin-left: 25px;
        margin-top: 20px;
    }
    .veri {
        font-size: 21px;
    }
    .pic_name {
        padding-left: 5px;
    }
    .right {
        height: 320px;
        width: 280px;
        margin-left: 250px;
        margin-top: -200px;
    }
    .contact .contact1 {
        padding: 7px 27px;
        font-size: 15px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .getysss{
        margin-bottom: 100px;
    }
    .left {
        height: 450px;
        width: 350px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .right {
        height: 350px;
        width: 280px;
        margin-left: 350px;
        margin-top: -250px;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .ouree {
        font-size: 18px;
        font-weight: 800;
        margin-top: 10px;
    }
    .allle {
        font-size: 45px;
        font-weight: 700;
        padding-right: 0px;
        padding-top: 20px;
    }
    .whyysss {
        font-size: 18px;
        padding-top: 20px;
        padding-right: 0px;
        font-weight: 600;
    }
    .left {
        height: 420px;
        width: 280px;
        margin-left: 25px;
        margin-top: 20px;
    }
    .veri {
        font-size: 21px;
    }
    .pic_name {
        padding-left: 5px;
    }
    .right {
        height: 290px;
        width: 220px;
        margin-left: 230px;
        margin-top: -200px;
    }
    .contact .contact1 {
        padding: 7px 27px;
        font-size: 15px;
    }
    .waew .getysss {
        padding: 12px 30px;
        margin-top: 8px;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 700;
    }
    .getysss{
        margin-left: 0px;
    }
}

